/* Styles for documentation-specific classes */

/* Sections */
div.documentation-section {
	padding-bottom: 20px;
}

/* Footnotes */
span.footnote {
	font-size: small;
	font-family: monospace;
	background-color: gray;
}

span.footnote-hover:hover {
	color: #e74c3c;
	cursor: help;
}

/* Special for demos */
.xscroll {
	overflow-x:auto;
}

iframe.opencms-documentation-source {
	border: none;
	display: none;
	width: 100%;
}

iframe.opencms-documentation-source.contenteditor {
	min-width:950px;
}

.documentation-source-link {
	font-style: monospace;
	background-color: lightgray;
	border: 1px solid darkgray;
	padding: 5px 10px;
	margin: 10px 0px;
}

div.documentation-demo-source {
	margin-bottom: 15px;
}

/* For the topic-row formatter */
div.panel-body-documentation > a {
	text-decoration:none;
}
h4.panel-title-documentation > a:active {
	color:inherit;

	}

/* Box for related links */

.related-links {
	background-color: #ccc;
	padding: 20px;
}

.related-links a {
	color: #333;
}

.related-links code {
	background-color: #ccc;
	color: #333;
}

.related-links:last-child {
	padding-bottom: 10px;
}

div.link-description {
	font-style: italic;
	margin: 5px;
}

/* Special styles for topic rows */
div.topic-row-teaser {
	padding: 0px 20px;
	font-style: italic;
}
.topic-row-item-header * {
	color: #b31b34;
}
ul.topic-row-item > li {
	color: #b31b34;
}

div.topic-status-tags {
	text-align:right;
	border-color: #eee;
	border-style: solid;
	border-width: 2px;
	margin-bottom: 8px;
}

div.topic-status-tags-inner {
	display: inline-block;
	padding: 6px;
	padding-top: 4px;
}