/* CSS Adjustments for Bootstrap defaults */

/* Adjust maximal width of content */
div.container-fluid.container-main {
	max-width: 1350px;
}

/* Remove rounded borders */
.page-wrap * {
	border-radius: 0;
}

.list-group-item:first-child, .list-group-item:last-child, .jumbotron, .container .jumbotron, .nav-tabs > li > a, .panel-group .panel {
	border-radius: 0;
}

/* Overwrite basic styles */
body {
	line-height: 1.6;
	font-size: 14px;
}

p, li {
	color: #555;
}

a {
	color: inherit;
	text-decoration: underline;
}

a.btn {
	text-decoration: none;
}

a:active {
	color: #b31b34;
}

a:hover {
	color: #b31b34;
}

a, a:focus, a:hover, a:active {
	outline: 0 !important;
}

/* Side navigation */

.sidebar-nav-v1 li {
	padding: 0;
}

.sidebar-nav-v1 li a {
	display: block;
	padding: 8px 30px 8px 10px;
	text-decoration: none;
}

.sidebar-nav-v1 > li.active, .sidebar-nav-v1 > li.active:hover {
	border-color: #717984;
}
.sidebar-nav-v1 > li.active, .sidebar-nav-v1 > li.active:hover {
	border-color: #ddd;
}
.sidebar-nav-v1 > li.active, .sidebar-nav-v1 > li.active:hover {
	background: #717984;
}

/** Header styles **/

/* Header part */
.header .navbar {
	margin: 0;
	min-height: inherit;
}

.header .navbar-default {
	border: none;
	background: none;
}

/* Breadcrumbs */
.breadcrumbs {
overflow: hidden;
padding: 10px 0 6px;
border-bottom: solid 1px #eee;
border-top: solid 2px #eee;
background: #f7f7f7;
}

.breadcrumbs h1 {
color: #666;
font-size: 22px;
margin-top: 8px;
}

.breadcrumbs a {
	color: #777;
	text-decoration: none;
}

.breadcrumb {
top: 10px;
padding-right: 0;
background: none;
position: relative;
}

/* Headings */

.headline {
	display: block;
	margin: 10px 0 25px 0;
	border-bottom: 1px dotted #e4e9f0;
}

h1, h2, h3, h4, h5, h6 {
	color: #585f69;
	margin-top: 5px;
	text-shadow: none;
	font-weight: normal;
	font-family: 'Open Sans', sans-serif;
}

h1 code, h2 code, h3 code, h4 code, h5 code, h6 code {
	color: #585f69;
	background: #fff;
}

.panel code {
	color: #555;
	background: #fff;
}

h1 {
	font-size: 28px;
	line-height: 35px;
}

h2 {
	font-size: 24px;
	line-height: 33px;
}

h3 {
	font-size: 22px;
	line-height: 31px;
}

h4 {
	font-size: 20px;
	line-height: 29px;
}

h5 {
	font-size: 18px;
	line-height: 27px;
}

h6 {
	font-size: 16px;
	line-height: 25px;
}

/* Side navigation */
.nav-side a:hover {
	text-decoration: none;
}

.nav-side .nav-side-level-1 a {
	padding-left: 17px;
}

.nav-side .nav-side-level-2 a {
	padding-left: 34px;
}

.nav-side .nav-side-level-3 a {
	padding-left: 51px;
}

.nav-side .nav-side-level-4 a {
	padding-left: 68px;
}

.nav-side .nav-side-level-5 a {
	padding-left: 85px;
}

.sidebar-nav-v1 ul li.active:hover a, .sidebar-nav-v1 ul li.active a {
    color: #fff;
    text-decoration: none;
}

ul.sidebar-nav-v1 li.active:hover a, ul.sidebar-nav-v1 li.active a {
    color: #fff;
    text-decoration: none;
}

.sidebar-nav-v1 > li.active, .sidebar-nav-v1 > li.active:hover {

	border-color: #717984;
}

.list-group-inner {
	margin-bottom:-1px;
}

span.nav-side-toggle-sublevel {
	display: inline-block;
	width: 18px;
	text-decoration: none;
}

a:hover > span.nav-side-toggle-sublevel {
	color: #555;
}

a > span.nav-side-toggle-sublevel:hover {
	color: #b31b34;
}

li.active > a:hover > span.nav-side-toggle-sublevel {
	color: #fff;
}

li.active > a > span.nav-side-toggle-sublevel:hover {
	color: #b31b34;
}

ul.nav-side a:focus {
	color: #555;
	text-decoration: none;
}
ul.nav-side a:hover {
	color: #b31b34;
}


/* tag boxes */
.tag-box {
	padding: 20px;
	margin-bottom: 30px;
	background: #fff;
}

.tag-box:last-child {
	padding-bottom: 10px;
	
}

.tag-box-v2 {
background: #fafafa;
border: solid 1px #eee;
border-left: solid 2px #b31b34;
}

.tag-box-v3 {
border: solid 2px #eee;
}

.tag-box-v4 {
	border: dashed 1px #bbb;
}

/*Accordion v1*/

.acc-v1 .panel-heading {
  padding: 0;
  box-shadow: none;
}

.acc-v1 .panel-heading a {
  display: block;
  font-size: 14px;
  padding: 5px 15px;
  background: #fefefe;
}

.acc-v1 .panel-title > a.accordion-toggle:hover {
	color: #b31b34;
}

/* Copyright */
.copyright {
font-size: 12px;
padding: 11px 0 7px;
background: #3e4753;
border-top: solid 1px #777;
background-color: #DDDDDD;
}

.copyright p {
  color: #333333;
}

/* Page navigation */
i.page-nav-btn {
    background: none repeat scroll 0 0 #585f69;
    border-radius: 6px 0 0 6px !important;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    padding: 7px 9px;
    position: fixed;
    right: 0;
    top: 220px;
    z-index: 4444;
}

.page-nav {
	background: none repeat scroll 0 0 #585f69;
    border: 1px solid #666d76;
    border-radius: 6px 0 0 6px !important;
    display: none;
    padding: 10px 10px 15px 15px;
    position: fixed;
    right: 0;
    top: 120px;
    min-width: 200px;
    max-width: 650px;
    z-index: 4444;
}

.page-nav .page-nav-content {
	overflow-y: auto;
	max-height: 500px;
	width: 100%;
	margin: 0;
	padding: 0;
	border: none;
}

.page-nav .heading {
	color: #fff;
}
.page-nav .page-nav-content .list-group {
	margin-bottom: 0px;	
}

/* Tooltips */
div.tooltip-inner {
	max-width: 250px;
}

/** Helpers **/
/* Margin top */
.margin-top-0 { margin-top: 0px; }
.margin-top-5 { margin-top: 5px; }
.margin-top-10 { margin-top: 10px; }
.margin-top-20 { margin-top: 20px; }
.margin-top-30 { margin-top: 30px; }

/* Margin bottom */
.margin-bottom-30 {
	margin-bottom: 30px;
}

/* Superscript for user name in nav */
.superscript {
    top: -9px; 
    left: 4px; 
    position: relative
}
