.sidebar-nav-v1 ul li.active:hover a, .sidebar-nav-v1 ul li.active a {
    color: #fff;
}

ul.sidebar-nav-v1 li.active:hover a, ul.sidebar-nav-v1 li.active a {
    color: #fff;
}

.nav-side .nav-side-level-3 a {
	padding-left: 51px;
}

.nav-side .nav-side-level-4 a {
	padding-left: 68px;
}

.nav-side .nav-side-level-5 a {
	padding-left: 85px;
}

.sidebar-nav-v1 > li.active, .sidebar-nav-v1 > li.active:hover {

	border-color: #717984;
}

.tag-box p:last-child {
	margin-bottom: 0;
}