
$nav-setting-fixheader: upscroll;

// badge colors
$badge-success-bg-color:	$red;
$badge-info-bg-color:		#1bb39a;
$badge-default-bg-color:	#2197db;
$badge-orange-bg-color:		#e67e22;
$btn-block-spacing-y:       .5rem;

// maximal width
$max-container-width:       1350px;

$color-active:              $red-light;

// page navigation
$bg-color-pagenav:         #585f69;
$bo-color-pagenav:         #666d76;

$color-dt:                  $main-theme;
$color-dt-active:           $main-theme-hover;
